.THIS .SelectClass .slds-form-element__label {
    display : none;
}

.THIS.custome-class tbody td {
    background-color : rgb(243, 242, 242);
} 


.THIS .slds-datepicker .slds-day {
display : contents;
position: absolute;
z-index: 7000;
left: -0.71875px;    
}