.THIS .fontstyle .slds-form-element__static {
    
    font-weight: 600;
    font-size: 23px;
}

.THIS .calculate-table thead th {
    padding: 10px 10px;
}
.THIS .calculate-table tbody td {
    padding: 10px 10px;
}