.THIS .SelectClass .slds-form-element__label {
    display : none;
}

 


.THIS .slds-datepicker .slds-day {

 

display : contents;
position: absolute;
z-index: 7000;
left: -0.71875px;    
}

 

.THIS .Method .slds-input {
padding : 0px;
}